:root {
  --primary:       #eb2f64;
  --primary-light: #ff3366;
  --primary-dark:  #ba265d;
  --gray-light-1: #faf9f9;
  --gray-light-2: #f4f2f2;
  --gray-light-3: #f0eeee;
  --gray-light-4: #ccc;
  --gray-dark-1: #333;
  --gray-dark-2: #777;
  --gray-dark-3: #999; }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: red; }
