// start var
:root {
--primary:       #eb2f64;
--primary-light: #ff3366;
--primary-dark:  #ba265d;

--gray-light-1: #faf9f9;
--gray-light-2: #f4f2f2;
--gray-light-3: #f0eeee;
--gray-light-4: #ccc;

--gray-dark-1: #333;
--gray-dark-2: #777;
--gray-dark-3: #999;

--line: 1px solid var(--gray-light-2);

--shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
--shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}
$bp-largest: 75em;   // 1200px
$bp-large: 68.75em;   // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;   // 600px
$bp-smallest: 31.25em;   // 500px
$bp-phones: 25em;   // 400px
// end var

// basic reset start
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0; margin: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}
body {
    background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
// basic reset end