/////////////////////////
//// Logo
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}
/////////////////////////
//// Search-bar
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
    }
    &__input {
        font-family: inherit;
        font-size: inherit;
        background-color: var(--gray-light-2);
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 100000px;
        width: 85%;
        transition: all .4s;
        margin-right: -3.5rem;
        @media only screen and (max-width: $bp-small) {
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30);
            transition: all .3s;
        }
        &:focus {
            width: 100%;
            background-color: var(--gray-light-3);
            outline: none;
            @media only screen and (max-width: $bp-small) {
                width: 90%;
            }
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--gray-light-4);
        }
    }
    &__input:focus + &__button {
        background-color: var(--gray-light-3);
    }
    &__button{
        background-color: var(--gray-light-2);
        border: none;
        &:focus {
            background-color: var(--gray-light-3);
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon{
        height: 2rem; width: 2rem;
        fill: var(--gray-dark-3);
    }
}
/////////////////////////
//// User-panel
.user-panel {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
        padding: 0 2rem;
        height: 100%;
        cursor: pointer;
        transition: all .2s;
        display: flex;
        align-items: center;
    }
    & > *:hover {
        background-color: var(--gray-light-2);
    }
    &__icon-box {
        position: relative;
    }
    &__icon{
        height: 2.25rem; width: 2.25rem;
        fill: var(--gray-dark-2);
    }
    &__notifi-dot {
        background-color: var(--primary);
        border-radius: 10000px;
        position: absolute;
        top: 1.5rem; right: 1.1rem;
        color: #fff;
        font-size: .8rem;
        height: 1.75rem; width: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-photo {
        height: 3.75rem; width: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    &__user-name {
        color: var(--gray-dark-1);
    }
}
/////////////////////////
//// Sidebar
.sidebar {
    &__nav {
        list-style: none;
        font-size: 1.4rem;
        margin-top: 3.5rem;
        @media only screen and (max-width: $bp-medium) {
            display: flex;
            margin: 0;
        }
        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.2rem;
        }
    }
    &__item {
        position: relative;
        transition: all .3s;
        &:not(:last-child) {
            margin-bottom: .5rem;
            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }
        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }
    }
    &__item::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 3px;
        background-color: var(--primary);
        transform: scaleY(0);
        transform-origin: center;
        transition: transform .3s,
                    width .4s cubic-bezier(0.6, 0, 0.44, 0.98) .3s,
                    background-color .1s;
    }
    &__item:hover::before,
    &__item-active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__item:active::before {
        background-color: var(--primary-light);
    }
    &__link:visited,
    &__link:link {
        color: var(--gray-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 1.5rem .5rem;
        }
    }
    &__icon {
        width: 1.75rem; height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem; height: 1.5rem;
        }
    }
    &__footer {
        text-align: center;
        font-size: 1.2rem;
        color: var(--gray-light-4);
        padding: 2.5rem;
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }
}
/////////////////////////
//// Content
.gallery {
        display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}
/////////////////////////
//// overview
.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
    }
    @media only screen and (max-width: $bp-smallest) {
        justify-content: space-between;
    }
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            font-size: 2.25rem;
        }
    }
    &__stars {
        margin-right: auto;
        display: flex;
        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }
    }
    &__icon-star,
    &__icon-location {
        fill: var(--primary);
        width: 1.75rem; height: 1.75rem;
    }
    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.7rem;
            margin-left: .5rem;
        }
    }
    &__icon-location {
        width: 2rem; height: 2rem;
        margin-right: .3rem;
        @media only screen and (max-width: $bp-smallest) {
            width: 2.25rem; height: 2.25rem;
        }
    }
    &__rating {
        margin-left: 3rem;
        background-color: var(--primary);
        color: #fff;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            padding: 1rem 2rem;
        }
    }
    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }
    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: .5rem;
    }
}
/////////////////////////
//// btn
.btn-inline {
    border: none;
    padding-bottom: 2px;
    background-color: transparent;
    color: var(--primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    transition: all .2s;
    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }
    &:hover {
        color: var(--gray-dark-1);
        span {
            margin-left: 8px;
        }
    }
    &:focus {
        outline: none;
        animation: loop 1s infinite;
    }
}
@keyframes loop {
    0% {
        transform: scale(1);
        box-sizing: none;
    }
    50% {
        transform: scale(1.05);
        box-sizing: 0 1rem 4rem rgba(0.0.0.025);
    }
    100% {
        transform: scale(1);
        box-sizing: none;
    }
}
/////////////////////////
//// paragraph
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}
/////////////////////////
//// list
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }
    &__item::before {
        content: '';
        display: inline-block;
        margin-right: .7rem;
        width: 1rem; height: 1rem;
        background-color: var(--primary);
        -webkit-mask-image: url(/img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(/img/chevron-thin-right.svg);
        mask-size: cover;
    }
}
/////////////////////////
//// recommend
.recommend {
    font-size: 1.4rem;
    color: var(--gray-dark-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__frinds {
        display: flex;
    }
    &__photo {
        border-radius: 50%;
        width: 4.5rem; height: 4.5rem;
        border: .3rem solid #fff;
    }
    &__photo:not(:last-child) {
        margin-right: -2rem;
    }
}
/////////////////////////
//// review-box
.review {
    background-color: #fff;
    padding: 3rem;
    box-shadow: var(--shadow-light);
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }
    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__photo {
        border-radius: 50%;
        width: 4.5rem; height: 4.5rem;
        margin-right: 1.5rem;
    }
    &__user-box {
        margin-right: auto;
    }
    &__user-name {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: .4rem;
    }
    &__user-date {
        font-size: 1rem;
        color: var(--gray-dark-3);
    }
    &__rating {
        color: var(--primary);
        font-size: 2.2rem;
        font-weight: 300;
    }
    &::before {
        content: "\201C";
        position: absolute;
        top: -2.75rem; left: -1rem;
        font-size: 20rem;
        color: var(--gray-light-2);
        font-family: sans-serif;
        line-height: 1;
        z-index: 1;
    }
}
/////////////////////////
//// Call to action
.cta {
    padding: 3.5rem 0;
    text-align: center;
    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }
    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        @media only screen and (max-width: $bp-phones) {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }
    }
}
/////////////////////////
//// Call to action btn
.btn {
    border: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &>* {
        height: 100%; width: 100%;
        display: inline-block;
        transition: all .2s;
    }
    &__visable {
        padding: 2rem 7.5rem;
    }
    &__invisable {
        padding: 2rem;
        position: absolute;
        left: 0; top: -100%;
    }
    &:hover {
        background-image: linear-gradient(to left, var(--primary-light), var(--primary-dark));
    }
    &:hover &__visable {
        transform: translateY(100%);
    }
    &:hover &__invisable {
        top: 0;
    }
    &:focus {
        outline: none;
        animation: loop 1s infinite;
    }
}
